{% load static %}

<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">

    <a id="navbar-banner" class="navbar-item has-left-margin-1" href="/">
      <img src="{% static "images/navbar/django-logo-negative.svg" %}" alt="Django Arcade logo"/>
      Arcade
    </a>

    {# The navbar "burger" which appears when rendered on screens that can't fit the entire nav #}
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar_menu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  {# Content on the right side of the navbar #}
  <div class="navbar-menu is-paddingless" id="navbar_menu">
    <div class="navbar-end">

      {# Burger-menu Discord #}
      <a class="navbar-item is-hidden-desktop" href="https://discord.gg/python">
        <span class="icon is-size-4 is-medium"><i class="fab fa-discord"></i></span>
        <span>&nbsp;Discord</span>
      </a>

      {# GitHub #}
      <a class="navbar-item" href="https://github.com/kfields/django-arcade">
        <span class="icon is-size-4 is-medium"><i class="fab fa-github"></i></span>
        <span>&nbsp;GitHub</span>
      </a>

      {# Patreon #}
      <a class="navbar-item" href="https://www.patreon.com/kfields">
        <span class="icon is-size-4 is-medium"><i class="fab fa-patreon"></i></span>
        <span>&nbsp;Patreon</span>
      </a>

      {# Account #}
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
            <span class="icon is-size-4 is-medium"><i class="fas fa-user-circle"></i></span>
            <span>&nbsp;Account</span>
        </a>

        <div class="navbar-dropdown">
          {% if user.is_superuser %}
          <a class="navbar-item" href="/admin">Admin</a>
          {% endif %}
  
          {% if user.is_authenticated %}
          <a class="navbar-item" href="{% url 'logout' %}">Log out</a>
          {% else %}
          <a class="navbar-item" href="{% url 'login' %}">Log In</a>
          <a class="navbar-item" href="{% url 'signup' %}">Sign Up</a>
          {% endif %}

          {# <hr class="navbar-divider"> #}
          {# More Stuff #}
        </div>
      </div>
      
  </div>
</nav>
